   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #cab {
        display: flex;
        
        

    }
    header{ 
        background-color: darkgrey;
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        padding: 30px;
        border: #320db8;
    }
    header h2{
        color: #320db8;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    header div img {
        width: 20%;
       
        
    }
    header div {
        display: inline-flexbox;
    }

    header span{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #logo {
            width: 60%;
            text-align: right;
            padding-left: 60px;
            margin-left: 225px;
            
            
            
    }
    #dados {
            width: 100%;
            text-decoration: none;
            display: inline-block;
            padding: 25px 0px 0px 0px;
            margin: none;
            border: none;
            
           
    }

    #links {
        width: 20%;
        display: inline-block;
        margin: none;
        text-decoration: none;
        border: none;
    }

    #links img{
        padding: 5px 6px;
    }
   
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    nav{
        background-color: #320db8 ;
        text-align: center;
        
    }
    nav a{
        display: inline-block;
        padding: 3px 37px ;
        color: #eeeeee;
        text-decoration: none;
        text-align: center;
        font-size: small;
        
    }
    nav a:hover{
        background-color: #eeeeee;
        color: #320db8;
        border-radius: 10px;
        
    }
    #logo img{
        border-radius: 50%;
    }
    #projetos{
        background-color: darkgrey;
        text-align: center;
        color: #320db8;
    
    }
    #sobre{
        text-align: center;
        color: #eeeeee;
        background-color: #320db8;
    }
    #sobre p{
        text-align: center;
        padding: 30px;
        color: #eeeeee;
        
        display: inline-block;
    }
    #tecnologias{
        text-align: center;
        background-color: darkgrey;
        color: #320db8;
    }
    footer{
        background-color: #320db8;
        color: #eeeeee;
        padding: 20px;
        font-size: .7rem;
        text-align: center;
        
    }

    #ftspan {
        text-align: right;
        display: inline;
        
    }

    #linksftr img {
        width: 4%;
        display: inline;
        padding: 0px 7px
        
    }
    
    #proj_img{
        text-align: left;
        
    }
    section{
        width: 100%;
        max-height: 1280px;
        margin: auto;
        height: 100%;
        min-height: 250px;
        min-width: 360px;
        padding: 50px 0;
    }


